/* Create the following custom properties */
:root {
  --section-title-margin: 0;
  --section-title-color: var(--color-black);
}

/* Just above the section-tagline declaration, create a new declaration targeting the section-title class */
.section-title {
  /* Set the family of fonts to font-family-title */
  font-family: var(--font-family-title);
  /* Set the font size to font-size-xx-large */
  font-size: var(--font-size-xx-large);
  /* Set the font weight to font-weight-bold */
  font-weight: var(--font-weight-bold);
  /* Use the section-title-margin to set the margin */
  margin: var(--section-title-margin);
  /* Use the section-title-color to set the text color */
  color: var(--section-title-color);
}
