/* Target anchor elements that contain hyperlinks */
a[href] {
  text-decoration: none;
}

/* Target the visited state for the link */
a[href]:visited {
  text-decoration: none;
  font-style: italic;
}

/* Target the hover state for the link */
a[href]:hover {
  text-decoration: underline;
}

/* Target the active state for the link */
a[href]:active {
  background-color: var(--color-light-grey);
}
