/* Body color */
body {
  color: #161616;
}

/* Anchor color */
a {
  color: #161616;
}

/* Hide visually-hidden elements */
.visually-hidden {
  display: none;
}

/* Card category color */
.card-category {
  color: #D73953;
}

/* Tagline color */
.section-tagline {
  color: #D73953;
}
